<h1>Liste der Übungen</h1>

<%= render partial:"partials/own_exercieses_new" %>

<%= link_to 'Eigene Übung anlegen', new_exercise_path %>
<%= link_to 'Meine Übungen', own_exercises_path%>
<%= link_to 'Ausloggen', destroy_user_session_path, method: :delete %>