<p>Hallo <%= @resource.email %>!</p>

<p>Irgendjemand hat einen Link zum ändern deines Passworts angefordert. Du kannst dein Passwort im unten stehenden Link ändern.</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Falls du dein Passwort nicht ändern möchtest, ignoriere diese email.</p>
<p>Dein Password wird nicht geändert so lange du nicht auf den oberen Link klickst und ein neues Passwort erstellst.</p>
