<h1>Liste aller Übungen</h1>

<%= render partial:"partials/uebungsliste_alle" %>

<%= link_to 'Meine Übungen', own_exercises_path%> |
<%= link_to 'Ausloggen', destroy_user_session_path, method: :delete %>
